/* seletor {
    propriedade: valor;
}

Seletores:
-tag
-id (#)
-class (.)
*/
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body{
    background-color: black;
    color: white;
}
h2{
    line-height: 3px;
}
ul{
    list-style-type: circle;
}
a{
    color: #8ecae6;
    text-decoration: none;
}
.mail{
    color:coral;
}
.name{
    text-decoration: underline;
    text-decoration-color: red;
}