/* seletor {
    propriedade: valor;
}

Seletores:
-tag
-id (#)
-class (.)
*/

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
h2{
    line-height: 3px;
}
ul{
    list-style-type: circle;
}
a{
    text-decoration: none;
}
