body{
    font-family: 'Manrope', sans-serif;
}

header {
    background-color: #0B090A;
    padding: 24px 72px;
    color: #FFFFFF;

    display: flex;
    justify-content: space-between; /* alinha na horizontal */
    align-items: center; /* alinha na vertical */ /*inverte ao usar column */
}

.btn{
    padding: 12px 24px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    text-transform: uppercase;
}